<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- LINKS DO BOOTSTRAP E DO MODELO DO MENU, NÃO ALTERAR! ------------------------------------------------>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Nosso CSS -->
        <link rel="stylesheet" href="../style.css">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <!------------------------------------------------------------------------------------------------------->

        <title>Conecte-se | Comunidades</title>

    </head>
    <body>

         
        
        <section class="wrapper">

            <!-- MENU LATERAL --------------------------------------------------------------------------------------->
            
            <nav id="sidebar">
                <section id="botoesUsuario" style="padding: 10px 0 40px 0; text-align: center;">
                    <img src="../imagens/logo.img.png" class="rounded mx-auto d-block" alt="..." style="width: 150px;">
                    <button type="button" class="btn botao-bgescuro-amarelo"><a href="/cadastro">Cadastrar</a></button>
                    <button type="button" class="btn botao-bgescuro-branco"><a href="/login">Entrar</a></button>
                </section>

                <ul class="list-unstyled components">
                    <li >
                        
                        <a href="/">Início</a>
                    </li>
                    <li>
                        <a href="/empresas-deslogado">Empresas</a>
                    </li>
                    <li class="active">
                        <a href="/comunidades-deslogado">Comunidades</a>
                    </li>
                    <li>
                        <a href="/fale-conosco-deslogado">Fale Conosco</a>
                    </li>
                    
                </ul>

            </nav>

            <!------------------------------------------------------------------------------------------------------->

            <!-- CONTEÚDO DA PÁGINA --------------------------------------------------------------------------------->
            
            <section id="content">
                <nav class="navbar navbar-default">
                    <section class="container-fluid">
                        <section class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"
                                style="display: block; background-color: #2a313b; color: #fafafa; ;">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Abrir/Fechar Menu</span>
                            </button>
                        </section>
                    </section>
                </nav>
                <h1 class="my-5 display-3 fw-bold ls-tight" style="line-height: 35px; font-size: 26px;">
                    Comunidades <br />
                    <span class="text-primary" style="background-color: #2a313b;">da plataforma</span>
                </h1>
                <label for="">
                    <div class="input-group mb-3" style="display: flex;">
                        <form action="/pesquisar-comunidade-deslogado" method="post">
                            <input type="text" name="nome" class="form-control" placeholder="" aria-label=""
                            aria-describedby="button-addon2" style="width: 320px;">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"
                        style="background-color: #2a313b; color: #f0b300;">Buscar</button>
                        </form>
                    </div>
                </label>
                <div ></div>
                

                 
                <div style="display: flex;">     
                <section class="cards-empresas" style="display: flex; flex-wrap: wrap;">
                    <% comunidades.forEach((co, index) => { %>
                    <form action="/#" method="post" style="width: 30%; margin-right: 2%; min-width: 290px;" >
                        <ul class="list-group">
                            <li class="list-group-item">
                                <section style="display: flex;">
                                    <span class="badge badge-danger"
                                        style="font-size: 15px; background-color: #2a313b; color: #f0b300; margin-right: 10px;" id="categoria" name="categoria"><%= co.categoria_nome %></span><br>
                                       
                                </section>
                                <h3 id="nome" name="nome "><%= co.nome %></h3>
                                <h4 style="text-align:justify;" id="descricao " name="descricao "><%= co.descricao %></h4>
                                <h5 style="text-align: right;" id="criador" name="criador"><%= co.criador %></h5>
                                <h5 style="text-align: right;" id="data_criacao" name="data_criacao"><%= co.data_criacao %></h5>
                                <a href="/" style="display: flex; width: 140px; margin: auto;"><button
                                        class="btn botao-bgclaro-escuro">Ver Comunidade</button></a>
                            </li>
            
                        </ul>
                    </form>
                    <% }) %>
                </section>
                </div>   
                </section>
                </form>
    
            </section>
            <!------------------------------------------------------------------------------------------------------->

        </section>




        <!-- SCRIPTS DO BOOTSTRAP E DO MODELO DO MENU, NÃO ALTERAR! ----------------------------------------------->

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Menu lateral JS -->
        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
        <!------------------------------------------------------------------------------------------------------->

    </body>
</html>
