<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- LINKS DO BOOTSTRAP E DO MODELO DO MENU, NÃO ALTERAR! ------------------------------------------------>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Nosso CSS -->
        <link rel="stylesheet" href="../style.css">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <!------------------------------------------------------------------------------------------------------->

        <title>Conecte-se | Usuários</title>

    </head>
    <body>

         
        
        <section class="wrapper">

            <!-- MENU LATERAL --------------------------------------------------------------------------------------->
            
            <nav id="sidebar">
                <section id="botoesUsuario" style="padding: 10px 0 40px 0; text-align: center;">
                    <img src="../imagens/logo.img.png" class="rounded mx-auto d-block" alt="..." style="width: 120px;"><br><h4>Olá, <%= usuario %>!</h4>
                    <a href="/editarPerfil"><button type="button" class="btn botao-bgescuro-amarelo">Meu Perfil</button></a>
                    <a href="/"><button type="button" class="btn botao-bgescuro-branco">Sair</button></a>
                </section>

                <ul class="list-unstyled components">
                    <li>
                        
                        <a href="/inicio-administrador">Início</a>
                    </li>
                    <li >
                        <a href="tipos-usuario-administrador">Tipo usuários</a>
                    </li>
                    <li class="active">
                        <a href="/usuarios-administrador">Usuários</a>
                    </li>
                    <li>
                        <a href="/empresas-administrador">Empresas</a>
                    </li>
                    <li  >
                        <a href="/comunidades-administrador">Comunidades</a>
                    </li>
                    <li >
                        <a href="/fale-conosco-administrador">Fale Conosco</a>
                    </li>
                   
                </ul>

            </nav>

            <!------------------------------------------------------------------------------------------------------->

            <!-- CONTEÚDO DA PÁGINA --------------------------------------------------------------------------------->
            
            <section id="content">
                <nav class="navbar navbar-default">
                    <section class="container-fluid">
                        <section class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"
                                style="display: block; background-color: #2a313b; color: #fafafa; ;">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Abrir/Fechar Menu</span>
                            </button>
                        </section>
                    </section>
                </nav>
                <h1 class="my-5 display-3 fw-bold ls-tight" style="line-height: 35px; font-size: 26px;">
                    Usuários <br />
                    <span class="text-primary" style="background-color: #2a313b;">da plataforma</span>
                </h1>
                
                    <div class="input-group mb-3" style="display: flex;">
                        <form action="/pesquisar-usuario-administrador" method="post">
                            <input type="text" name="nome" class="form-control" placeholder="" aria-label=""
                                aria-describedby="button-addon2" style="width: 320px;">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"
                                style="background-color: #2a313b; color: #f0b300;">Buscar</button>
                        </form>
                    </div>
            
                <div style="display: flex; flex-wrap: wrap;">
                    <% usuariosPlataforma.forEach((u, index) => { %>
                        <form action="/#" method="post" style="margin: 1%;">
                            <ul class="list-group" style="display: flex; flex-wrap: wrap;">
                                <li class="list-group-item"
                                    style="background-color: #f0f0f0; color: black; width: 30%; margin: 1% 1% 1% 0px ;  min-width: 310px;">
                                    <div style="display: flex; flex-direction:row-reverse">
                                        <span class="badge badge-danger"
                                            style="font-size: 15px; background-color: #2a313b; color: #f0b300; margin-right: 10px;" id="estado" name="estado">Ativo</span><br>
                                        <span class="badge badge-danger"
                                            style="font-size: 15px; background-color: #2a313b; color: #f0b300; margin-right: 10px;" id="papel" name="estado"><%= u.papel_nome %></span><br>
                                    </div>
                                    <h3 id="nome" name="nome"><%= u.nome %> <%= u.sobrenome %></h3>
                                    <h3 id="apelido" name="apelido"><%= u.apelido %></h3><br>
                                    <h5 style="text-align: right;" id="email" name="email">Email: <%= u.nome %></h5>
                                    <h5 style="text-align: right;" id="telefone" name="telefone">Telefone: <%= u.telefone %></h5>
                                    <div style="display: flex; margin: auto;">
                                        <a href="/" style="margin: auto"><button id="editarUsuario" class="btn botao-bgescuro-escuro"  type="button">Editar</button></a>
                                        <a href="/" style="margin: auto"><button id="excluirUsuario" class="btn botao-bgescuro-escuro"  type="button">Excluir</button></a>
                                </li>
                                            
                            </ul>
                        </form>
                        <% }) %>
                </div>
                
                
    
            </section>
    

            <!------------------------------------------------------------------------------------------------------->

        </section>




        <!-- SCRIPTS DO BOOTSTRAP E DO MODELO DO MENU, NÃO ALTERAR! ----------------------------------------------->

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Menu lateral JS -->
        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
        <!------------------------------------------------------------------------------------------------------->

    </body>
</html>
